{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    <form id="form">
        <input type="text" name="message"/>
        <input type="hidden" name="user" value="{{ user.get_username }}">
    </form>

    <div id="messages"></div>

    <script type='text/javascript'>
        let url= `wss://${window.location.host}/ws/socket-server/`
        const chatSocket = new WebSocket(url)
        chatSocket.onmessage = function(e){
            let data= JSON.parse(e.data)
            console.log('Data: ',data)

            if(data.type === 'chat'){
                let messages = document.getElementById('messages')

                messages.insertAdjacentHTML('beforeend', `<div>
                    <p>${data.user}: ${data.message}</p>
                    </div>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value 
            let user = e.target.user.value 
            chatSocket.send(JSON.stringify({
                'message':message,
                'user':user,
            }))
            form.reset()
        })

    </script>
{%endif%}
{% endblock %}
